{
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "printWidth": 120,
  "apexInsertFinalNewline": false,
  "plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"],
  "overrides": [
    {
      "files": "**/*.{cls,trigger}",
      "options": { "parser": "apex", "tabWidth": 4 }
    },
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc" }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    }
  ]
}
